/articoli
/classification_exercise.py
/data
/Double descent.pdf
/double_descent.py
/double_descent_cla.py
/double_descent_cla_noise.py
/double_descent_lr.py
/double_descent_lr_noise.py
/double_descent_lr_noise_new.py
/duplicates
/ex1_optimization.py
/functions.py
/mispeci_cla.py
/mispeci_lr - Copy.py
/mispeci_lr.py
/models.py
/no_optim_min.py
/Optimization_exercises.ipynb
/optim_min.py
/paper_1montanari.pdf
/perceptron.py
/prova2_0.py
/python_exercices-master
/Random features.pdf
/random_feature.py
/regression_exercice.py
/test_perceptron.py
/text_ex10.pdf
/__pycache__